<div class="form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <div>
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name %>
    </div>
    <div>
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag 'Login' %>
    </div>
  <% end %>
</div>